// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

// Variables
@import 'variables';


$font-family-sans-serif : 'Montserrat', sans-serif;
$secondary: rgb(49, 49, 49);

// Bootstraps
@import 'bootstrap/scss/bootstrap';

//Bootstrap icon
@import "bootstrap-icons/font/bootstrap-icons.css";


.underline{
    border-bottom: 1px solid #d3d1d1;
}